extends layout

block content
  script(src='/javascripts/story.js')
  script(src='/javascripts/location.js')
  script(src='/javascripts/map.js')
  script(src='/javascripts/game.js')
  script(src='/javascripts/encounter.js')
  //- script(src='/javascripts/monster.js')
  script(src='/javascripts/data.js')

  h1= title
  //- p Welcome to #{title}
  //- script document.write(intro);
  //- script document.write(link);
  p#message
  div(id="story") 
  p(id="question")
  //- p(id="locationMessage") My location is currently 
  //-   span(id="myCoordinates ") 
  div.form-group#form
    form(onSubmit="return enterCommand()" method="post")
      //- label(for='action') Action:
      input#command.form-control(type='text', placeholder='>>' name='action' autofocus autocomplete="off")

  script runGame();

