body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #BBB;
}

a {
  color: #00B7FF;
}

input {
  background-color:inherit;
  color: inherit;
  font-size: x-large;
  width: 500px;
  border: 0px;
  border-bottom: 2px;
}
